* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://i.pinimg.com/736x/85/d6/40/85d640d008fbc9a08f54e68b43ae5a0e.jpg");
  background-size: 700px;
  background-position: center center;
  background-repeat: repeat;
  background-color: #f4f3ee;
  width: 100vw;
  height: 100vh;

  font-family: "Nunito Sans", serif;
}

h1, .title h2 {
  font-family: "Crimson Text", serif;
  font-weight: 800;
  color: #a71b1e;

  -webkit-text-fill-color: #a71b1e;
  -webkit-text-stroke: .5px #f4f3ee;
}

h2{
  font-weight: 400;
  font-size: 30px;
}

h1 {
  font-family: "Crimson Text", serif;
  font-size: 72px;
  margin-top: -20px;
}

.title {
  text-align: center;
  width: fit-content;
  margin: 10vh auto 10vh auto;

}

.kiosk{
  width: 300px;
  height: 150px;
  background-color: #f1f0e5;
  display: flex;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
}

.kiosk h2 {
  font-family: "Crimson Text", serif;
  color: #a71b1e;
  font-size: 24px;
}

.kiosk h3 {
  font-weight: 400;
  font-size: 14px;
  color: #554238;
  margin-bottom: 10px;
  font-style: italic;
}

a {
  background-color: #8ca2bf;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  color: #d9e2ec;
  border-radius: 6px;
}

.image {
  width: 60%;
  margin-right: 20px;
  height: auto;
}

.Stores {
  margin: 0px auto 0px auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  
}